body { font-family:sans-serif; margin:0; background:url(/static/bg.png) #f2f2f2 left repeat-y; }
a:link, a:visited, ul#stream li.markdown blockquote a, ul#stream li.reddit a { color:#0058c2; text-decoration:none; }
a:visited { opacity:.5; }
a:hover { text-decoration:underline; }

#side, #content { position:absolute; top:0; padding-top:65px; margin:0; }
#side { width:182px; padding-right:18px; text-align:right; }
#content { margin-left:200px; padding-left:0px; }

#logo h1, h2 { margin:0; }
#logo h1 { display:inline-block; font-weight:normal; font-size:16px; height:15px; }
#logo h1 a { color:#3f3f3f; text-decoration:none; }
#logo div { color:#969696; font-size:12px; font-weight:bold; }
#logo canvas, #logo img { width:32px; height:32px; vertical-align:top; position:relative; top:-6px; }
#logo { margin-bottom:14px; }

#side { font-size:12px; }
h2, h3 { font-size:12px; font-weight:normal; margin:0; }
h2 { margin-bottom:1.5em; }
h3 { margin-top:1.5em; }
#side ul { margin:0; }
#side li { list-style:none; margin-top:.5em; }

#stream { margin:0; padding:0; }
#stream > li { font-size:13px; list-style:none; padding:3px 0 3px 32px; margin-bottom:5px; }

#stream a, #stream a:visited { text-decoration:none; color:#012 }
#stream a:hover { text-decoration:underline }
#stream li time { color:#aaa; visibility:hidden; }
#stream li:hover time { visibility:visible; }
#stream p { margin:0; }
#stream blockquote { margin:0; }

/* TODO: embed these into the CSS */
ul#stream > li { border-left:4px solid #ccc; }
ul#stream > li.markdown { border-left:4px solid #77c0de; background:url(/static/favicon.png) 5px 3px no-repeat; }
ul#stream > li.github { border-left:4px solid #000; background:url(/static/icon/github.ico) 5px 3px no-repeat; }
ul#stream > li.lastfm { border-left:4px solid #ee4229; background:url(/static/icon/lastfm.ico) 5px 3px no-repeat; }
ul#stream > li.twitter { border-left:4px solid #9ae4e8; background:url(/static/icon/twitter.ico) 5px 8px no-repeat; }
ul#stream > li.grooveshark { background:url(/static/icon/grooveshark.ico) 5px 3px no-repeat; }
ul#stream > li.flickr { border-left:4px solid #0063c8; background:url(/static/icon/flickr.ico) 5px 3px no-repeat; }
ul#stream > li.delicious { background:url(/static/icon/delicious.ico) 5px 3px no-repeat; }
ul#stream > li.reddit { border-left:4px solid #ff8b60; background:url(/static/icon/reddit.png) 5px 3px no-repeat; }

#stream li.github div, #stream li.github div a { color:#999; }
#stream li.github div a { font-weight:bold; }
#stream li.github .message { color:#444; }
#stream li.github .commits > ul { padding-left:0px; }
#stream li.github .commits > ul li { font-size:12px; list-style:none; border:0; padding:0 14px 0 0; margin:2px 0 0; }
#stream li.github .more { display:none; }

#stream li.flickr img { margin-right:5px; }

#stream li.twitter { position:relative; }
#stream li.twitter blockquote { display:inline-block; background:#fff; border:1px solid #aaa; padding:5px; }
#stream li.twitter blockquote:before, #stream li.twitter blockquote:after { content:''; position:absolute; display:block; border:solid 7px; }
#stream li.twitter blockquote:before { top:10px; left:18px; border-color:transparent #aaa transparent transparent; }
#stream li.twitter blockquote:after { top:10px; left:19px; border-color:transparent white transparent transparent; }

#stream li.markdown blockquote h1 { font-size:2em; margin-top:.25em; margin-bottom:0; }
#stream li.markdown blockquote h2 { font-size:1.5em; margin-bottom:.5em; }
#stream li.markdown blockquote ul { padding-left:1.5em; }
#stream li.markdown blockquote hr { border:none; border-bottom:1px dotted #777; }

/* Email obfuscation a la http://techblog.tilllate.com/2008/07/20/ten-methods-to-obfuscate-e-mail-addresses-compared/ */
#stream li.markdown blockquote .sdrawkcab { unicode-bidi: bidi-override; direction: rtl; }

#wake-credit { opacity:.75; padding:10px; font-size:10px; }
#wake-credit:hover { opacity:1; text-decoration:none; }
#wake-credit img { vertical-align:middle; }
